# Ignore everything directly inside 'experiments'
/experiments/*

# Specifically allow the 'default_exp' folder AND all sub-contents
!/experiments/default_exp/
!/experiments/default_exp/**

/darepy/codes/__pycache__/
/darepy/.active_experiment.txt